/* NavBar styling */
#navMsg {
    font-size: 30px;
    font-family: 'Gill Sans', sans-serif;
    color: red;
    text-shadow: 3px 3px black;
}
body {
  background-color: lightblue;
}
.navbar {
    min-height: 100px;
  }

.nav-link {
      font-size: 2em;
      margin: 30px;
  }

.active {
   border-style: groove;
   border-color: red;
}
/* -------------------------------------------------------------------------------- */
/* About Page Styling */

.carousel-img {
  height: 450px;
}
.carousel {
  border: none;
}
#carouselDiv {
  margin: 10px;
}
.carousel-dark {
  text-shadow: 1px 1px black;
}

.outerCarousel {
  margin: 30px;
}

/* Jumbotron Styling */

#index-jumbotron {
  padding: 30px;
  margin: auto;
}
.display-4 {
  text-align: center;
  left: 300px;
}

.jumbotronTxt {
  margin: 30px 20px 5px 20px;
}

.jumboSpan {
  text-align: left;
}

.jumbotron {
  width: 100%;
}
.titles {
  font-size: 35px;
}
.listItem {
  font-size: 20px;
}
.card {
  width: 25%;
}

.symptoms {
  margin-top: 20px;
  height:220px;
  width: 680px;
  border:3px solid skyblue;
  background-color: black;
  color: white;
  font:16px/26px Georgia, Garamond, Serif;
  overflow:auto;
}

#the-symptoms {
  margin-left: 30px;
}

#home-card {
  background-color: transparent;
  border: none;
}




/* Cases Near You Page */

#cases-form {
  border-style: double;
  width: 40%;
  margin: 30px;
}
#cases-form2 {
  margin-left: 30px;
}
.cases-form {
  margin-left: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

#casesImg {
  max-width: 120%;
  height: auto;
  margin-top: 20px;
  padding: 30px;
}
#results {
  display: none;

}
.api-results {
  margin: 30px;
  padding: 10px;
}
.results {
  margin-bottom: 15px;
}
#img-caption {
  margin-left: 28px;
  margin-top: -22px;
}




/* Prevention Page */
.list-item-prevention > li {
  list-style-type: square;
}
#prevention-card {
  margin: 30px;
  width: 80%;
}
#cardHeader {
  text-align: center;
  font-size: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#cardTitle {
  text-align: center;
  margin: 20px;
  font-family: Impact, Charcoal, sans-serif;
}

#tipsBtn {
  margin-top: 40px;
}
#tipsDownload {
  margin-top: 40px;
  margin-left: 10px;
}
/* #modalFooter {
  margin-left: -20px;
} */

#video {
  margin-top: 65px;
}


/* Testing Page Styling */
#testingForm {
  margin: 100px;
  width: auto;
}

#testing-center-results {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-top: -40px;
  width: 87%;
  margin-bottom: 40px;
}



.sites {
  margin-bottom: 20px;
  padding-bottom: 15px;
  border-bottom: 2px dotted black;
}

.marginTop {
  margin-top: 20px;
}

.span {
  font-size: 20px;
  font-family: 'Arial Narrow Bold', sans-serif;
}
